@model IEnumerable<ToDo>

    <div class="row">
         <div class="col-md-2">
             <form asp-action="Filter" method="post">
                 <div class="mb-3">
                     <label class="form-label">Categoria</label>
                     <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name", ViewBag.Filters.CategoryId))">
                        <option value="all">All</option>
                    </select>
                 </div>
                 <div class="mb-3">
                     <label class="form-label">Pendiente:</label>
                     <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.Due))">
                        <option value="all">All</option>
                    </select>
                 </div>
                 <div class="mb-3">
                     <label class="form-label">Estado:</label>
                     <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name", ViewBag.Filters.StatusId))">
                        <option value="all">All</option>
                    </select>
                 </div>
                 <button type="submit" class="btn btn-primary">Filtrar</button>
                 <a asp-action="Index" asp-route-id="" class="btn btn-primary">Limpiar</a>
             </form>
         </div>
         <div class="col-md-10">
             <form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                 <thead>
                     <tr>
                         <th>Descricción</th>
                         <th>Categoria</th>
                         <th>Fecha de Vencimiento</th>
                         <th>Estado</th>
                         <th class="w-25"></th>
                     </tr>
                 </thead>
                 <tbody>
                     @foreach(ToDo task in Model)
                     {
                         string overdue = task.Overdue ? "bg-warning" : "";
                         <td>@task.Description</td>
                         <td>@task.Category.Name</td>
                         <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                         <td class="@overdue">@task.Status.Name</td>
                         <td>
                             @if(task.StatusId == "open")
                             {
                                 <button type="submit" class="btn btn-primary btn-sm"
                                 name="@nameof(ToDo.Id)" value="@task.Id">Mark Completo</button>
                             }
                         </td>
                     }
                 </tbody>
             </form>
             <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                <a asp-action="Add" class="btn btn-primary">Agregar nueva tarea</a>
                <button type="submit" class="btn btn-primary">Eliminar tareas completadas</button>
             </form>
         </div>
    </div>